/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.booking-big-input {
    border: 0px;
}

.area-warning {
    position: relative;
    top: 10px;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.area-warning.msg-active {
    height: auto;
    opacity: 1;
    visibility: visible;
    top: 0px;

    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.service-summary-item {
    display: none;
}
.service-summary-item.service-active {
    display: flex;
}

.start-time {
    animation: fromDownUp 0.5s ease;
}

.team-member {
    animation: fromDownUp 0.5s ease;
}

@keyframes fromDownUp {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
    }
}
