.service-summary-item.service-active {
    display: flex;
}

.start-time {
    animation: fromDownUp 0.5s ease;
}

.team-member {
    animation: fromDownUp 0.5s ease;
}

.team-members-wrapper {
    display: none;
}

.team-members-wrapper.visible {
    display: flex;
    animation: fromDownUp 0.5s ease;
}

.area-warning {
    visibility: hidden;
}

.area-warning.msg-active {
    height: auto;
    opacity: 1;
    visibility: visible;
    top: 0px;

    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

@keyframes fromDownUp {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
    }
}

#wf-form-Booking.completed {
    display: none;
}

#form-done.active {
    display: flex;
}
