/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.service-summary-item {
    display: none;
}
.service-summary-item.service-active {
    display: flex;
}

.start-time {
    animation: fromDownUp 0.5s ease;
}

.team-member {
    animation: fromDownUp 0.5s ease;
}

.team-members-wrapper {
    display: none;
}

.team-members-wrapper.visible {
    display: flex;
    animation: fromDownUp 0.5s ease;
}

@keyframes fromDownUp {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
    }
}
