.service-summary-item.service-active {
    display: flex;
}

.start-time {
    animation: fromDownUp 0.5s ease;
}

.team-member {
    animation: fromDownUp 0.5s ease;
}

.team-members-wrapper {
    display: none;
}

.team-members-wrapper.visible {
    display: flex;
    animation: fromDownUp 0.5s ease;
}
